* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(''); /* Initial empty background */
    background-size: 70%;
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    background-color: rgba(0, 0, 0, 0.493);
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 150px;
    height: 150px;
    margin: 180px;
    margin-top: 100px;
    justify-content: center;

}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 5rem;
    border:1px solid whitesmoke;
    cursor: pointer;
    color: papayawhip;
    background-color: rgba(0, 0, 0, 0.473);

}